automation/logic-apps/ARM-template-users-working-abroad.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_abroad_Working_Users_name": {
            "defaultValue": "abroad-Working-Users",
            "type": "String"
        },
        "connections_azuremonitorlogs_externalid": {
            "defaultValue": "/subscriptions/your-subscription-id/resourceGroups/your-resource-group-name/providers/Microsoft.Web/connections/azuremonitorlogs",
            "type": "String"
        },
        "connections_outlook_externalid": {
            "defaultValue": "/subscriptions/your-subscription-id/resourceGroups/your-resource-group-name/providers/Microsoft.Web/connections/outlook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_abroad_Working_Users_name')]",
            "location": "eastus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Month",
                                "timeZone": "GMT Standard Time",
                                "startTime": "2026-04-01T01:00:00"
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Month",
                                "timeZone": "GMT Standard Time",
                                "startTime": "2026-04-01T01:00:00"
                            },
                            "type": "Recurrence",
                            "description": "Run every month."
                        }
                    },
                    "actions": {
                        "Run_query_and_list_results": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "SignInLogs\n| where TimeGenerated >= startofmonth(datetime_add('month',-1, now()))\n| where TimeGenerated < startofmonth(now())\n| where Location != \"GB\"\n| where ResultType == \"0\"\n| extend deviceDetails = parse_json(DeviceDetail)\n| extend DeviceId = deviceDetails.deviceId,\n         OperatingSystem = deviceDetails.operatingSystem,\n         Browser = deviceDetails.browsers,\n         DeviceDisplayName = deviceDetails.displayName,\n         DeviceTrustType = deviceDetails.trustType,\n         DeviceCompliant = deviceDetails.isCompliant,\n         DeviceManaged = deviceDetails.isManaged\n| project TimeGenerated, Identity, IPAddress, Location, UserPrincipalName, DeviceId, OperatingSystem, Browser, DeviceDisplayName, DeviceTrustType, DeviceCompliant, DeviceManaged",
                                "path": "/queryData",
                                "queries": {
                                    "subscriptions": "your-subscription-id",
                                    "resourcegroups": "your-resource-group-name",
                                    "resourcetype": "Log Analytics Workspace",
                                    "resourcename": "your-law-name",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "Create_CSV_table": {
                            "runAfter": {
                                "Run_query_and_list_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@body('Run_query_and_list_results')?['value']",
                                "format": "CSV"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Run_query_and_list_results": [
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "email@email.com; otheremail@email.com",
                                    "Subject": "Monthly abroad users Logic App run has failed",
                                    "Body": "[concat('<p class=\"editor-paragraph\">Hi,</p><br><p class=\"editor-paragraph\">This is an automated email to make you aware that the monthly scheduled run of the ', parameters('workflows_abroad_Working_Users_name'), ' Logic App has failed.</p><br><p class=\"editor-paragraph\">Please investigate this as soon as possible.</p>')]",
                                    "Importance": "High"
                                },
                                "path": "/v2/Mail"
                            }
                        },
                        "Send_an_email_(V2)_1": {
                            "runAfter": {
                                "Create_CSV_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "email@email.com; otheremail@email.com",
                                    "Subject": "Abroad working users",
                                    "Body": "<p class=\"editor-paragraph\">Hi,</p><br><p class=\"editor-paragraph\">This is the automated email containing a file with last months user sign in's from abroad.</p><br><p class=\"editor-paragraph\">If you notice any issues with this please contact XXX.</p>",
                                    "Attachments": [
                                        {
                                            "Name": "abroadWorkingUsers.csv",
                                            "ContentBytes": "@base64(body('Create_CSV_table'))"
                                        }
                                    ],
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "id": "/subscriptions/your-subscription-id/providers/Microsoft.Web/locations/eastus/managedApis/azuremonitorlogs",
                                "connectionId": "[parameters('connections_azuremonitorlogs_externalid')]",
                                "connectionName": "azuremonitorlogs",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "outlook": {
                                "id": "/subscriptions/your-subscription-id/providers/Microsoft.Web/locations/eastus/managedApis/outlook",
                                "connectionId": "[parameters('connections_outlook_externalid')]",
                                "connectionName": "outlook",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}
